/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* COMMON */
/* Layout */
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;

  /* debug */
  border: 2px solid blue;
  min-height: 200px;
}

.section {
  padding: 30px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
  row-gap: 10px;
  flex-wrap: wrap;
}

.card {
  /* width: calc((100% - 20px) / 3); */
  width: calc(95% / 3);
  background-color: black;
  color: white;
  display: flex;

  /* debug */
  /* height: 200px; */
  border: 1px solid pink;
}

/* Utilities */
.text-center {
  text-align: center;
}

/* MAIN */
.card-image {
  width: 120px;
}

.card-content {
  padding: 15px;
}
